.Score{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    font-family: 'Permanent Marker', cursive;
    font-size: 0.8rem;
    color:white;

    .score{
        color: #1c8adb;
    }

    .hiScore{
        color:#ff9800;
    }
}