.Replay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	backdrop-filter: blur(10px);
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;

	.container {
		width: 80%;
		max-width: 300px;
		height: 30%;
		max-height: 200px;
		border-radius: 5px;
		background-color: #9e9e9e;
		border: solid 3px #1c8adb;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		cursor: pointer;
		font-family: "Permanent Marker";
	}

	.buttons {
		font-family: "Permanent Marker";
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

	a {
		text-decoration: none;
		color: black;
	}

	button,
	a {
		font-family: "Permanent Marker";
		font-size: 1.5rem;
		padding: 0 10px;
		border: solid 2px #1c8adb;
		background-color: #607d8b;
		border-radius: 5px;
		box-shadow: 0 0 8px 1px black;
	}

	p {
		margin: 0;
		font-size: 2rem;
		text-shadow: 1px 1px 5px black;
		color: #ffc107;
	}
}
