.Card {
	perspective: 500px; /*Referencial for 3d Perspective*/
	box-shadow: black 0px 0 5px 0px;
	border-radius: 5px;
	overflow: hidden; //empeche l'image de sortir de la grid

	.back {
		border: solid #1770b2 2px;
		border-radius: 5px;
		background: linear-gradient(
			129deg,
			rgba(0, 0, 0, 1) 10%,
			rgba(255, 255, 255, 1) 14%,
			rgba(255, 255, 255, 1) 19%,
			rgba(0, 0, 0, 1) 33%
		);

		background-size: 500% 400%;
		transition: all 1s ease-in-out;
		transform-style: preserve-3d;
		height: 100%;

		img {
			width: 100%;
			height: 100%;

			transform: rotateY(180deg); //rotate this face
			backface-visibility: hidden; //important for e.target.classList
			pointer-events: none; //prevent select image/
			border-radius: 2px;
		}
	}

	.rotation {
		transform: rotateY(180deg); /*rotate card when hover on container*/
		background-position: right;
	}

	.discover {
		animation: scale 1s 1s;
	}

	@keyframes scale {
		50% {
			transform: scale(1.1) rotateY(180deg);
			border: solid 2px green;
		}

		90% {
			transform: scale(1) rotateY(180deg);
			border: solid 2px #1770b2;
		}
	}

	.wrong {
		border: solid 2px red;
	}
}
