.Home {

    height: 100%;
    background-color: #607d8b;
    font-family: "Permanent Marker";
    display: flex;
    flex-direction: column;

    h1{
        color:#fff;
        text-shadow: 1px 1px 1px black;
    }

    .levels{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap:10px;

        height: 70%;
        margin: 5px;
    }

}
