.Level {
	height: 100%;
	position: relative;

	//pour centrer la grid
	.container_cards {
		display: flex;
		align-items: center;
		height: 90%;
	}

	.cards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-row-gap: 5px;
		grid-column-gap: 10px;
		margin: 0 5px;
        height: 100%;
		flex:1;
	}
}
